@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;900&display=swap');

/* CSS Custom Properties */

:root {
  --ff-primary: 'Roboto', sans-serif;

  --spacer: 1rem;

  --clr-neutral-100: #fff;
  --clr-neutral-400: #333;
  --clr-neutral-900: #111;

  --clr-primary-400: #3c1500;

  --fw-bold: 900;
  --fw-reg: 300;

  --fs-18: 1.125rem;
  --fs-24: 1.5rem;
  --fs-36: 2.25rem;
  --fs-48: 3rem;
}

/* Reset */

*,
::before,
::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

/* Utility Classes */

.flow-content > * + * {
  margin-top: var(--spacer);
}

.wrapper {
  max-width: 68rem;
  margin: 0 auto;
  padding: 0 var(--spacer);
}

.split {
  display: flex;
  flex-direction: column;
}

.split > * + * {
  margin: calc(var(--spacer) * 3) 0 0 0;
}

@media (min-width: 40em) {
  .split {
    flex-direction: row;
    /*justify-content: space-between;*/
  }

  /*.split > * {
    flex-basis: 100%;
  } */

  .split > * + * {
    margin: 0 0 0 var(--spacer);
  }
}

/* Body Styles */

body {
  font-family: var(--ff-primary);
  font-size: var(--fs-18);
  font-weight: var(--fw-reg);
  line-height: 1.6;
  color: var(--clr-neutral-400);
}

h1,
h2,
h3 {
  font-weight: var(--fw-bold);
  line-height: 1.1;
}

h1 {
  font-size: var(--fs-48);
}

h2 {
  font-size: var(--fs-36);
}

h3 {
  font-size: var(--fs-24);
}

/* General Layout */

section {
  padding: 10rem 0;
}

/* Components */

.btn {
  display: inline-block;
  padding: 0.5em 1.25em;
  text-decoration: none;
  font-weight: var(--fw-bold);
  color: var(--clr-neutral-100);
  background: var(--clr-primary-400);
}

.card {
  padding: var(--spacer);
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.2);
}
